*{
    margin:0;
    padding:0
}

body{
    background-color: #d1d5db;
    text-align: center;
}

h1{
    font-size: 30px;
    text-align: center;
}

div{
    padding: 40px;
    margin:30px
}

textarea{
    padding: 50px;
    margin: 50px;
}

button{
    background: #22c55e;
    border: 1px 1px solid;
    color: white;
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 10px;
}

#result{
    color: red;
}